*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    font-family: "Bungee Spice", sans-serif;
}

section h2,
form button{
    font-family: "Diplomata", serif;
    font-weight: normal;
}
section h4{
    font-family: "Montserrat", sans-serif;
}

body, input, textarea{
    font-family: "Bungee", sans-serif;
}

header{
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header h1,
section h2{
    font-weight: normal;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 14px;
}
header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagens-logos img{
    height: 24px;
}

.imagens-logos li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
    color: #182c61;
}

section p{
    margin-bottom: 16px;
    font-size: 12px;
    color: #182c61;
}

.frente-da-loja{
    margin-right: 32px;
}

#Contato .container{
    display: block;
}

.Metodos-Contact{
    display: flex;
    justify-content: space-between;
}

.Social-contato img{
    height: 26px;
}

.Social-contato li a{
    text-decoration: none;
}

.Social-contato li{
    display: inline;
    margin-right: 14px;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h4{
    margin-bottom: 16px;
}
form button{
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover,{
    background-color: #2e4a97;
}

input:focus, textarea:focus{
    outline-color: black;
}

footer{
    text-align: center;
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}